.layout-header {
    background-image: url('images/Home/Figura-cabecera.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 38pt;
}

.mouse-pointer {
    transition: background-color 0.3s;
    cursor: pointer;
}

.search-input {
    border: none;
    margin: 0;
    height: 35px;
    background-color: #14233d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 19pt;
}

    .search-input::placeholder {
        color: white;
    }

.search-icon {
    border: none;
    height: 35px;
    background-color: #1C3259;
    width: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vertical-line {
    border-left: 1px solid;
    height: 18px;
}

a {
    text-decoration: none; /* Quita la línea subrayada */
    color: inherit; /* Hereda el color del texto */
}

.sections {
    margin-top: 0;
   
    
}
.div-sections {
    background-color: #2FAD70;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 14pt;
}

i {
    font-size: 20px;
}
.header-menu {
    color: #2255A1;
    font-size: 14pt;
}
.header-line-menu {
    border-color: #2255A1;
}
.subtitle-edit {
    color: #1C3259;
    font-size: 30pt;
}