.layout-header {
    background-image: url('images/Home/Figura-cabecera.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 38pt;
}

.mouse-pointer {
    transition: background-color 0.3s;
    cursor: pointer;
}
.title-gestor {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 30pt;
}
.width-img-gestor{
    width: 50%;
}
.text-20-book {
    font-size: 20pt;
}
.img-proyectos {
    width: 50px;
}
.search-input {
    border: none;
    margin: 0;
    height: 35px;
    background-color: #14233d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15pt;
    width: 400px;
}

    .search-input::placeholder {
        color: white;
    }

.search-icon {
    border: none;
    height: 35px;
    background-color: #1C3259;
    width: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vertical-line {
    border-left: 1px solid;
    height: 18px;
}

a {
    text-decoration: none; /* Quita la línea subrayada */
    color: inherit; /* Hereda el color del texto */
}
.blue-light-text {
    color: #2255A1;
}
.sections {
    margin-top: 0;
}
.div-sections {
    background-color: #2FAD70;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 14pt;
}

.header-menu {
    color: #2255A1;
    font-size: 14pt;
}
.header-line-menu {
    border-color: #2255A1;
}
.subtitle-edit {
    color: #1C3259;
    font-size: 30pt;
}
.dropdown-logout{
    background-color: transparent;
}
@media screen and (max-width: 768px) {
    .title-gestor {
        font-size: 19pt;
    }
    .layout-header {
        font-size: 19pt;
    }

    .search-input {

        font-size: 7pt;
    }
    .div-sections {

        font-size: 7pt;
    }

    .header-menu {

        font-size: 6pt;
    }
    .subtitle-edit {

        font-size: 15pt;
    }
}

@media screen and (max-height: 768px) and (min-width: 768px) {
    .title-gestor {
        font-size: 20pt;
    }
    .layout-header {
        font-size: 28pt;
    }

    .search-input {
        font-size: 11pt;
    }

    .div-sections {
        font-size: 9pt;
    }

    .header-menu {
        font-size: 9pt;
    }

    .subtitle-edit {
        font-size: 18pt;
    }
}