@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject IUsuariosInterface UsuariosService
@inject ILocalStorageService localStorageService
    <header class="layout-header d-flex justify-content-between align-items-center py-1 text-light">

        <div class="fw-bold p-2 ps-5 mouse-pointer" @onclick="IrAlInicio"><span class="title-gestor">Gestor de Servicios</span></div>
        <div class="fw-bold p-2 pe-5"><img class="width-img-gestor" src="images/Home/BSP-Gestor-de-Servicio.png"></div>
    </header>
    <nav class="p-3 ps-4 shadow-lg">
        <div class="d-flex align-items-center ps-5">
        @if (navigationManager.Uri.IndexOf("/informe/editar", StringComparison.OrdinalIgnoreCase) >= 0 || navigationManager.Uri.IndexOf("/informe/crear", StringComparison.OrdinalIgnoreCase) >= 0)
        {
            <div class="d-flex justify-content-start align-items-center">
            <h3 class="subtitle-edit">Informe de Servicios</h3>
            </div>
        }
        else if (navigationManager.Uri.IndexOf("/informes/misinformes", StringComparison.OrdinalIgnoreCase) >= 0)
        {

        }
        else if (navigationManager.Uri.IndexOf("/configuraciones", StringComparison.OrdinalIgnoreCase) >= 0)
        {
            if (navigationManager.Uri.IndexOf("/configuraciones/usuarios", StringComparison.OrdinalIgnoreCase) >= 0)
            {
                <div class="d-flex justify-content-start align-items-center">
                    <SideBarConfiguraciones></SideBarConfiguraciones>
                    <div class="ps-2 d-flex justify-content-start align-items-center">
                        <button class="search-icon text-light" @onclick="() => EnviarTextoABuscar(inputValue)">
                            <img src="images/Home/Buscador.png" class="w-100" />
                        </button>
                        <input type="text" width="100" placeholder="Buscar..." class="text-light search-input" @oninput="ActualizarValor" />

                    </div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start align-items-center">
                    <SideBarConfiguraciones></SideBarConfiguraciones>
                    <span class="subtitle-edit ps-2">Configuraciones</span>
                </div>
            }
           
        }
        else
        {
            <div class="d-flex justify-content-start align-items-center">
                <button class="search-icon text-light" @onclick="() => EnviarTextoABuscar(inputValue)">
                    <img src="images/Home/Buscador.png" class="w-100"/>
                </button>
                <input type="text" width="100" placeholder="Buscar..." class="text-light search-input" @oninput="ActualizarValor" />

            </div>
        }

            <div class="ms-auto header-menu pe-5">
                <a @onclick="IrAConfiguraciones" class="me-2 mouse-pointer">Configuracion <img src="images/Home/configuraciones.png" class="ps-2 pb-1"></a>
                <a class="vertical-line p-2 border-primary"></a>
                <a @onclick="IrAMisInformes" class="me-2 mouse-pointer">Mis Informes <img src="images/Home/informes.png" class="ps-2 pb-1"></a>
                <a class="vertical-line p-2 border-primary"></a>
            <div class="btn-group dropend dropdown-logout">
                <button type="button" class="dropdown-toggle border-0 dropdown-logout blue-light-text" data-bs-toggle="dropdown" aria-expanded="false">
                    @UsuarioActual
                    @if (imagenDeUsuario.imagen != null && !imagenDeUsuario.imagen.SequenceEqual(new byte[] { 0x00 }))
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(imagenDeUsuario.imagen)" width="50" class="ps-2 pb-1" alt="Imagen" />
                    }
                    else
                    {
                        <img class="ps-2 pb-1" alt="Sin Imagen" />
                    }
                </button>
                <ul class="dropdown-menu blue-light-text mouse-pointer" @onclick="CerrarSesion">
                   Cerrar Sesión
                </ul>
            </div>
            </div>
        </div>
    </nav>
@if (navigationManager.Uri.IndexOf("/proyectos", StringComparison.OrdinalIgnoreCase) >= 0)
{
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex justify-content-start align-items-center w-20 ps-2">
            <span class="blue-dark-text text-20-book">Proyectos <img class="mb-3 img-proyectos" src="images/Proyectos/Icono-Proyectos.png" /></span>
        </div>

        <nav class="d-flex justify-content-end sections text-light pe-5 h-50">
            <div class="sections p-3 div-sections">

                <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerPefil(true)">Perfil <img src="images/Home/Perfil.png" class="ps-1 pb-1"></a>
                @if (permisos != null)
                {
                    @if (permisos.Any(p => p.Contains("Clientes")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="me-2 mouse-pointer" @onclick="IrAClientes">Clientes <img src="images/Home/Clientes.png" class="ps-1 pb-1"></a>
                    }
                    @if (permisos.Any(p => p.Contains("Proyectos")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="me-2 mouse-pointer" @onclick="IrAProyectos">Proyectos <img src="images/Home/Proyectos.png" class="ps-1 pb-1"></a>
                    }
                    @if (permisos.Any(p => p.Contains("Actividades")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="mouse-pointer" @onclick="() => ClickHandlerActividades(true)">Actividades <img src="images/Home/Actividades.png" class="ps-1 pb-1"></a>
                    }
                }


            </div>
        </nav>
    </div>
}
else if (navigationManager.Uri.IndexOf("/clientes", StringComparison.OrdinalIgnoreCase) >= 0)
{
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex justify-content-start align-items-center w-20 ps-2">
            <span class="blue-dark-text text-20-book">Clientes <img class="mb-3 img-proyectos" src="images/Clientes/Icono-clientes.png" /></span>
        </div>

        <nav class="d-flex justify-content-end sections text-light pe-5 h-50">
            <div class="sections p-3 div-sections">

                <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerPefil(true)">Perfil <img src="images/Home/Perfil.png" class="ps-1 pb-1"></a>
                @if (permisos != null)
                {
                    @if (permisos.Any(p => p.Contains("Clientes")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="me-2 mouse-pointer" @onclick="IrAClientes">Clientes <img src="images/Home/Clientes.png" class="ps-1 pb-1"></a>
                    }
                    @if (permisos.Any(p => p.Contains("Proyectos")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="me-2 mouse-pointer" @onclick="IrAProyectos">Proyectos <img src="images/Home/Proyectos.png" class="ps-1 pb-1"></a>
                    }
                    @if (permisos.Any(p => p.Contains("Actividades")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="mouse-pointer" @onclick="() => ClickHandlerActividades(true)">Actividades <img src="images/Home/Actividades.png" class="ps-1 pb-1"></a>
                    }
                }


            </div>
        </nav>
    </div>
}
else if (navigationManager.Uri.IndexOf("/configuraciones/usuarios", StringComparison.OrdinalIgnoreCase) >= 0)
{
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex justify-content-start align-items-center w-20 ps-2">
            <span class="blue-dark-text text-20-book">Usuarios <img class="mb-3 img-proyectos" src="images/Perfil/Icono-de-usuario.png" /></span>
        </div>
        <nav class="d-flex justify-content-end sections text-light pe-5 h-50">
            <div class="sections p-3 div-sections">

                <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerPefil(true)">Perfil <img src="images/Home/Perfil.png" class="ps-1 pb-1"></a>
                @if (permisos != null)
                {
                    @if (permisos.Any(p => p.Contains("Clientes")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="me-2 mouse-pointer" @onclick="IrAClientes">Clientes <img src="images/Home/Clientes.png" class="ps-1 pb-1"></a>
                    }
                    @if (permisos.Any(p => p.Contains("Proyectos")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="me-2 mouse-pointer" @onclick="IrAProyectos">Proyectos <img src="images/Home/Proyectos.png" class="ps-1 pb-1"></a>
                    }
                    @if (permisos.Any(p => p.Contains("Actividades")))
                    {
                        <a class="vertical-line p-2 border-light"></a>
                        <a class="mouse-pointer" @onclick="() => ClickHandlerActividades(true)">Actividades <img src="images/Home/Actividades.png" class="ps-1 pb-1"></a>
                    }
                }


            </div>
        </nav>
    </div>
}
else
{
    <nav class="d-flex justify-content-end sections text-light pe-5">
        <div class="sections p-3 div-sections">

            <a class="me-2 mouse-pointer" @onclick="() => ClickHandlerPefil(true)">Perfil <img src="images/Home/Perfil.png" class="ps-1 pb-1"></a>
            @if (permisos != null)
            {
                @if (permisos.Any(p => p.Contains("Clientes")))
                {
                    <a class="vertical-line p-2 border-light"></a>
                    <a class="me-2 mouse-pointer" @onclick="IrAClientes">Clientes <img src="images/Home/Clientes.png" class="ps-1 pb-1"></a>
                }
                @if (permisos.Any(p => p.Contains("Proyectos")))
                {
                    <a class="vertical-line p-2 border-light"></a>
                    <a class="me-2 mouse-pointer" @onclick="IrAProyectos">Proyectos <img src="images/Home/Proyectos.png" class="ps-1 pb-1"></a>
                }
                @if (permisos.Any(p => p.Contains("Actividades")))
                {
                    <a class="vertical-line p-2 border-light"></a>
                    <a class="mouse-pointer" @onclick="() => ClickHandlerActividades(true)">Actividades <img src="images/Home/Actividades.png" class="ps-1 pb-1"></a>
                }
            }


        </div>
    </nav>
}


@if (activarModalPerfil)
{
    <ModalPerfil ActivarModal="@activarModalPerfil" OnClose="ClickHandlerPefil"></ModalPerfil>
}
@if(permisos != null){

@if (permisos.Any(p => p.Contains("Actividades") && activarModalActividades))
{
    <ModalActividades ActivarModal="@activarModalActividades" OnClose="ClickHandlerActividades"></ModalActividades>
}
}
    

 