@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
<div>
</div>

@code {
    [Parameter]
    public string Contenido { get; set; } = string.Empty;
    [Parameter]
    public string Elemento1 { get; set; } = string.Empty;
    [Parameter]
    public string Elemento2 { get; set; } = string.Empty;
    [Parameter]
    public string Elemento3 { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("ScriptMaxHeight", Contenido, Elemento1, Elemento2, Elemento3);
            await JSRuntime.InvokeVoidAsync("eval", @"
                window.addEventListener('resize', function() {
                    ScriptMaxHeight('" + Contenido + "', '" + Elemento1 + "', '" + Elemento2 + "', '" + Elemento3 + @"');
                });
            ");
            

        }
    }
   

    
    
}
