@page "/Informes/misInformes"
<Layout></Layout>
    <div class="div-contenedor">


   
    <div class="mt-5">

      <div class="row">
        <div class="col-md-2 min-height-100 d-flex align-items-end">
          <div class="d-flex align-items-end min-height-miinforme ">
            <div class="vertical-text text-light"> <span class="">Mis Informes</span></div>
          </div>
        </div>
       
        <div class="col-md-6">
          <div class="row d-flex justify-content-start align-items-center div-search m-2">
            <button class="search-icon text-light">
                <i class="fa-solid fa-magnifying-glass text-light"></i>
            </button>
            <input type="text" placeholder="Buscar..." class="text-light search-input w-50" />
    
        </div>
          <div class="row font-19 informe-hover">
            <div class="col-md-3 text-light padding-45 d-flex align-items-center eyelash-background imagen-hover">
              <span>Imagen</span>
            </div>
            <div class="col-md-2 padding-45 d-flex align-items-center">
              <span>Codigo</span>
            </div>
            <div class="col-md-2 padding-45 d-flex align-items-center">
              <span>Fecha</span>
            </div>
            <div class="col-md-2 padding-45 d-flex align-items-center">
              <span>Empresa</span>
            </div>
            <div class="col-md-3 padding-45 d-flex align-items-center">
              <span>Nombre completo</span>
            </div>
          </div>
          <div class="row font-19 informe-hover">
            <div class="col-md-3 text-light padding-45 d-flex align-items-center eyelash-background imagen-hover">
              <span>Imagen</span>
            </div>
            <div class="col-md-2 padding-45 d-flex align-items-center">
              <span>Codigo</span>
            </div>
            <div class="col-md-2 padding-45 d-flex align-items-center">
              <span>Fecha</span>
            </div>
            <div class="col-md-2 padding-45 d-flex align-items-center">
              <span>Empresa</span>
            </div>
            <div class="col-md-3 padding-45 d-flex align-items-center">
              <span>Nombre completo</span>
            </div>
          </div>
                <div class="row font-19 informe-hover">
                    <div class="col-md-3 text-light padding-45 d-flex align-items-center eyelash-background imagen-hover">
                        <span>Imagen</span>
                    </div>
                    <div class="col-md-2 padding-45 d-flex align-items-center">
                        <span>Codigo</span>
                    </div>
                    <div class="col-md-2 padding-45 d-flex align-items-center">
                        <span>Fecha</span>
                    </div>
                    <div class="col-md-2 padding-45 d-flex align-items-center">
                        <span>Empresa</span>
                    </div>
                    <div class="col-md-3 padding-45 d-flex align-items-center">
                        <span>Nombre completo</span>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
      <div class="col-right-bg d-flex justify-content-center align-items-center row">
          <div class="col-md-4 col-right-bg">
            <div class="reenviar-cliente imagen-div">
              <span class="me-2">Reenviar a Cliente</span>
            </div>
            <div class="generar-cotizacion imagen-div">
              <span class="me-2">Generar Cotización</span>
            </div>
            <div class="generar-reporte imagen-div">
              <span class="me-2">Generar Reporte</span>
            </div>
            <div class="facturar imagen-div">
              <span class="me-2">Facturar</span>
            </div>
            <div class="historial-informes imagen-div">
              <span class="me-2">Historial de Informes</span>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
</div>


                    @code {

                    }
