@page "/Informes/misInformes"
<Layout></Layout>
<div class="div-contenedor">



    <div class="mt-5">


        <div class="row contenedor-cols">


            <div class="col-md-8">
                <div class="d-flex">

                    <div class="vertical-text text-light">
                        <span class="">Mis Informes</span>
                    </div>

                    <div class="w-100">
                        <div class="row d-flex justify-content-start align-items-center div-search m-2">
                            <button class="search-icon text-light">
                                <i class="fa-solid fa-magnifying-glass text-light"></i>
                            </button>
                            <input type="text" placeholder="Buscar..." class="text-light search-input w-50" />

                        </div>
                        <div class="row font-19 informe-hover font-blue-light">
                            <div class="col-md-3 text-light height-col d-flex align-items-center eyelash-background imagen-hover">
                                <span>Imagen</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Codigo</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Fecha</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Empresa</span>
                            </div>
                            <div class="col-md-3 height-col d-flex align-items-center">
                                <span>Nombre completo</span>
                            </div>
                        </div>
                        <div class="row font-19 informe-hover font-blue-light">
                            <div class="col-md-3 text-light height-col d-flex align-items-center eyelash-background imagen-hover">
                                <span>Imagen</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Codigo</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Fecha</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Empresa</span>
                            </div>
                            <div class="col-md-3 height-col d-flex align-items-center">
                                <span>Nombre completo</span>
                            </div>
                        </div>
                        <div class="row font-19 informe-hover font-blue-light">
                            <div class="col-md-3 text-light height-col d-flex align-items-center eyelash-background imagen-hover">
                                <span>Imagen</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Codigo</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Fecha</span>
                            </div>
                            <div class="col-md-2 height-col d-flex align-items-center">
                                <span>Empresa</span>
                            </div>
                            <div class="col-md-3 height-col d-flex align-items-center">
                                <span>Nombre completo</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-right-bg d-flex justify-content-center align-items-center row">
                    <div class="col-md-4 col-right-bg">
                        <div class="reenviar-cliente imagen-div">
                            <span class="me-4">Reenviar a Cliente</span>
                        </div>
                        <div class="generar-cotizacion imagen-div">
                            <span class="me-4">Generar Cotización</span>
                        </div>
                        <div class="generar-reporte imagen-div">
                            <span class="me-4">Generar Reporte</span>
                        </div>
                        <div class="facturar imagen-div">
                            <span class="me-4">Facturar</span>
                        </div>
                        <div class="historial-informes imagen-div">
                            <span class="me-4">Historial de Informes</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


                    @code {

                    }
