@page "/Informes/misInformes"
@inject IUsuariosInterface UsuariosService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IInformesInterface InformesService
@inject IClientesInterface ClientesService

<Layout></Layout>
<div class="div-contenedor">



    <div class="mt-5">


        <div class="row contenedor-cols">


            <div class="col-md-8">
                <div class="d-flex">

                    <div class="vertical-text text-light">
                        <span class="">Mis Informes</span>
                    </div>

                    <div class="w-100">
                        <div class="row d-flex justify-content-start align-items-center div-search m-2">
                            <button class="search-icon text-light">
                                <i class="fa-solid fa-magnifying-glass text-light"></i>
                            </button>
                            <input type="text" placeholder="Buscar..." class="text-light search-input w-50" />

                        </div>
                        @if(informesDeUsuario != null && clienteAsociado != null)
                        {
                            <div class="overflow-y-auto overflow-x-hidden scrollbar-report scrollbar-max-height">
                            @foreach (var informe in informesDeUsuario)
                            {
                                <div class="row font-19 informe-hover font-blue-light">
                                    <div class="col-md-3 text-light height-col d-flex align-items-center eyelash-background imagen-hover">
                                            @if (clienteAsociado.IMAGEN != null && !clienteAsociado.IMAGEN.SequenceEqual(new byte[] { 0x00 }))
                                            {
                                                <img src="data:image/png;base64,@Convert.ToBase64String(clienteAsociado.IMAGEN)" width="70" height="70" alt="Imagen" />
                                            }
                                            else
                                            {
                                                <img width="75" height="75" alt="Sin Imagen" />
                                            }
                                    </div>
                                    <div class="col-md-2 height-col d-flex align-items-center">
                                        <span>#@informe.consecutivo_informe</span>
                                    </div>
                                    <div class="col-md-2 height-col d-flex align-items-center">
                                        <span>@informe.fecha_consultoria</span>
                                    </div>
                                    <div class="col-md-3 height-col d-flex align-items-center">
                                        <span>@clienteAsociado.NOMBRE</span>
                                    </div>
                                    <div class="col-md-2 height-col d-flex align-items-center">
                                        <span>@datosUsuario.nombre</span>
                                    </div>
                                </div>
                            }
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-right-bg d-flex justify-content-center align-items-center row">
                    <div class="col-md-4 col-right-bg">
                        <div class="reenviar-cliente imagen-div">
                            <span class="me-4 span-report">REENVIAR A CLIENTE</span>
                        </div>
                        <div class="generar-cotizacion imagen-div">
                            <span class="me-4 span-report">GERNERAR COTIZACIÓN</span>
                        </div>
                        <div class="generar-reporte imagen-div">
                            <span class="me-4 span-report">GENERAR REPORTE</span>
                        </div>
                        <div class="facturar imagen-div">
                            <span class="me-4 span-report">FACTURAR</span>
                        </div>
                        <div class="historial-informes imagen-div">
                            <span class="me-4 span-report">HISTORIAL DE INFORMES</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

