.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal-content {
    display: inline-block;
    margin-top: 15%;
    background-color: transparent;
    background-image: url("images/Actividades/Pestaña-actividades.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 80%;
    padding: 20px;
    margin-bottom: 5%;
    border: transparent;
}

.modal-header {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

    .modal-header h2 {
        margin: 0;
    }

.modal-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

    .modal-body label {
        display: block;
        margin-bottom: 10px;
    }


.modal-footer {
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

    .modal-footer .button-footer {
        padding: 10px 20px;
    }

.blue-light-bg {
    background-color: #2255A1;
}

.blue-dark-bg {
    background-color: #1C3259;
}

.blue-light-text {
    color: #2255A1;
}

.blue-dark-text {
    color: #1C3259;
}

.green-bg {
    background-color: #2FAD70;
}
.green-add-bg {
    background-color: #0A8637;
}
.green-text {
    color: #2FAD70;
}

.border-success {
    border-color: #2FAD70;
}

.border-primary {
    border-color: #1C3259;
}

.div-change {
    border: 1px solid #053d9e;
    border-right: none;
    border-left: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.change-label {
    border-left: 1px solid #053d9e;
    margin: 0;
    width: 200px;
    height: 35px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.change-icon {
    border: 1px solid #198754;
    height: 35px;
    width: 35px;
    background-color: #198754;
    border-radius: 20px;
    border-left: none;
}


.search-icon-change {
    border: none;
    height: 35px;
    width: 30px;
    background-color: #2FAD70;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.scrollbar-modal-activity::-webkit-scrollbar {
    width: 12px;
}

/* Color del área de seguimiento */
.scrollbar-modal-activity::-webkit-scrollbar-track {
    background-color: #2FAD70;
    border: 5px solid white;
}

/* Color y forma del botón de desplazamiento */
.scrollbar-modal-activity::-webkit-scrollbar-thumb {
    background-color: #2FAD70;
    border-radius: 20px;
    border: 3px solid white;
}
.eyelash-activity {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}

.eyelash-activity-list {
    font-size: 14pt;
}

.eyelash-activity-create {
    font-size: 14pt;
}
.max-height-activity {
    max-height: 200px;
}

.text-23-book{
    font-size: 23pt;
}
.text-15-book {
    font-size: 15pt;
}
.text-20-bold {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 20pt;
}
.text-16-book {
    font-size: 16pt;
}
.text-12-medium {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 12pt;
}
.mouse-pointer {
    transition: background-color 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .modal-content {
        margin-top: 5%;
    }
    .text-23-book {
        font-size: 11pt;
    }

    .text-15-book {
        font-size: 8pt;
    }
    .title-activity {
        display: flex;
        flex-direction: column;
    }
    .text-20-bold {
        font-size: 10pt;
    }

    .text-16-book {
        font-size: 8pt;
    }

    .text-12-medium {
        font-size: 6pt;
    }
}

@media screen and (max-height: 768px) and (min-width: 768px) {
    .modal-content {
        margin-top: 5%;
    }

    .text-23-book {
        font-size: 18pt;
    }

    .text-15-book {
        font-size: 12pt;
    }

    .text-20-bold {

        font-size: 15pt;
    }

    .text-16-book {
        font-size: 12pt;
    }

    .text-12-medium {

        font-size: 9pt;
    }
}
@media screen and (max-width: 970px) {
    .text-23-book {
        font-size: 12pt;
    }
}