@page "/Editar"

<Layout ></Layout>
<div class="container-fluid p-2 pe-5 ps-5">
    <div class="row">
        <div class="col-md-6">
            <div class="row p-2">
                <div class="col-md-6 d-flex row text-center">
                    <span class="blue-good">Fecha: <span class="text-success">12/07/2023</span></span>
                    <span class="blue-good">Hora Inicio: <span class="text-success">3:00 pm</span></span>
                </div>
                <div class="col-md-6 d-flex row text-center">
                    <span class="blue-good">Cliente: <span class="text-success">Farmacia</span></span>
                    <span class="blue-good">Hora de Fin: <span class="text-success">5:00 pm</span></span>
                </div>
            </div>
            <div class="row content bg-body-secondary table-height rounded-start-5">
                <div class="row text-center p-2 blue-good">
                    <div class="col-md-4">
                        <span>Nombre</span>
                    </div>
                    <div class="col-md-4">
                        <span>Dep.</span>
                    </div>
                    <div class="col-md-4">
                        <span>Aceptación</span>
                    </div>
                </div>
                <div class="row p-2 text-center">
                    <div class="col-md-4">
                        <span>Hernan Hernanez</span>
                    </div>
                    <div class="col-md-4">
                        <span>Informática</span>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" class="custom-checkbox" id="myCheckbox">
                        <label for="myCheckbox"></label>
                    </div>
                </div>
                <div class="row p-2 text-center">
                    <div class="col-md-4">
                        <span>Hernan Hernanez</span>
                    </div>
                    <div class="col-md-4">
                        <span>Informática</span>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" class="custom-checkbox" id="myCheckbox2">
                        <label for="myCheckbox2"></label>
                    </div>
                </div>
                <div class="row p-2 text-center">
                    <div class="col-md-4">
                        <span>Hernan Hernanez</span>
                    </div>
                    <div class="col-md-4">
                        <span>Informática</span>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" class="custom-checkbox" id="myCheckbox3">
                        <label for="myCheckbox3"></label>
                    </div>
                </div>

            </div>
            <div class="observation border border-success rounded-5 text-success d-flex align-items-center justify-content-center">
                <span>+ Observaciones</span>
            </div>


        </div>
        <div class="col-md-6">
            <div class="p-2 d-flex justify-content-between align-items-center">
                <span class="blue-good">Informe #4535</span>
                <span class="text-success">Modalidad </span>
            </div>

            <div class="content text-light">
                <div class="row bg-primary pe-0 ps-0 ms-0 content-behind">
                    <div class="ps-0 ms-0 blue-good-bg height-footer content-behind content-behind-bottom ">
                        <div class="row text-center p-2 blue-good-bg ms-0 content-behind">
                            <div class="col-md-4">
                                <h5>Actividad</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>HS Cobradas</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>HS No Cobradas</h5>
                            </div>
                        </div>
                        <div class="row p-2 text-center ms-0">
                            <div class="col-md-4">
                                <span>Instalación</span>
                            </div>
                            <div class="col-md-4">
                                <span>9 horas</span>
                            </div>
                            <div class="col-md-4">
                                <span>9 horas</span>
                            </div>
                        </div>
                        <div class="row p-2 text-center ms-0">
                            <div class="col-md-4">
                                <span>Instalación</span>
                            </div>
                            <div class="col-md-4">
                                <span>9 horas</span>
                            </div>
                            <div class="col-md-4">
                                <span>9 horas</span>
                            </div>
                        </div>
                        <div class="row p-2 text-center ms-0">
                            <div class="col-md-4">
                                <span>Instalación</span>
                            </div>
                            <div class="col-md-4">
                                <span>9 horas</span>
                            </div>
                            <div class="col-md-4">
                                <span>9 horas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3 ms-0 text-center bg-primary rounded-bottom-5">
                    <div class="col-md-4">
                        <span>Total de Horas</span>
                    </div>
                    <div class="col-md-4">
                        <span>27 horas</span>
                    </div>
                    <div class="col-md-4">
                        <span>27 horas</span>
                    </div>
                </div>

            </div>
            <div class="p-2 text-success d-flex justify-content-center m-3">
                <div class="d-flex row text-center">
                    <i class="fa-solid fa-trash"></i>
                    <span>Descartar</span>
                </div>
                <div class="d-flex row text-center">
                    <i class="fa-solid fa-download"></i>
                    <span>Guardar Borrador</span>
                </div>
                <div class="d-flex row text-center">
                    <i class="fa-solid fa-square-check"></i>
                    <span>Finalizar</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
