.report-date ::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%232FAD70" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
.report-time ::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%232FAD70" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /> </svg>');
}

.table-right ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.width-time{
    width: 10%;
}
.max-width-for-scroll{
    max-width: 99%;
}
.max-width-for-scroll-footer {
    max-width: 100%;
}
.max-width-for-scroll-body {
    max-width: 98%;
}
.observation {
    margin-left: 1%;
    width: 96%;
}
.input-date {
    border: none;
    height: 25px;
    background-color: #1C3259;
    border-radius: 10px;
}
.max-height-observation{
    max-height: 80px;
}
.break-line {
    word-wrap: break-word;
}
.border-green {
    border: 1px solid #2FAD70;
}
.border-inicio-izquierda {
    border-top-left-radius: 20px;
}
.border-inicio-derecha {
    border-top-right-radius: 20px;
}
.border-final-izquierda {
    border-bottom-left-radius: 20px;
}
.border-final-derecha {
    border-bottom-right-radius: 20px;
}
.borde-gris-arriba {
    border-top: 1px solid #A9A9A9;
}
.borde-gris-derecha {
    border-right: 1px solid #A9A9A9;
}

.btn-agregar-usuario {
    background-color: #2FAD70;
}
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

    /* Estilos para crear el diseño del checkbox personalizado */
    .custom-checkbox + label {
        position: relative;
        padding-left: 25px; /* Espacio para el check personalizado */
        cursor: pointer;
    }

        .custom-checkbox + label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 2px solid #2255A1; /* Color del borde del checkbox */
            background-color: transparent /* Color de fondo del checkbox */
        }

    /* Estilos para el check personalizado cuando está seleccionado */
    .custom-checkbox:checked + label:before {
        content: "\2713";
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: medium;
        color: #2FAD70; /* Cambiar el color del fondo cuando está seleccionado */
        border: 2px solid #2255A1; /* Cambiar el color del borde cuando está seleccionado */
    }

.content-behind {
    border-top-right-radius: 30px;
}

.content-behind-bottom {
    border-bottom-right-radius: 50px;
}

.max-height-col {
    max-height: 200px;
}

.scrollbar-report::-webkit-scrollbar {
    width: 12px;
}

.scrollbar-report::-webkit-scrollbar-track {
    background-color: #2255A1;
    border: 5px solid white;
}

/* Color y forma del botón de desplazamiento */
.scrollbar-report::-webkit-scrollbar-thumb {
    background-color: #2255A1;
    border-radius: 20px;
    border: 3px solid white;
}

.label-transparent {
    color: transparent;
}
.bg-transparent{
    background-color: transparent;
}
.width-input {
    width: 15%;
}
.table-gray-left {

    height: 384px;
    max-height: 384px;
    margin-left: 1%;
    background-color: #D5D5D5;
    margin-bottom: 3%;
}
.table-right {

    height: 384px;
    max-height: 384px;
}
.circle-max-width{
    max-width: 90px;
}
@media screen and (max-width: 768px) {


    .circle-max-width {
        width: 70px;
    }

    .width-time {
        width: 20%;
    }

    .max-height-col {
        max-height: 80px;
    }

    .table-gray-left {
        height: 250px;
        max-height: 250px;
    }

    .table-right {
        height: 250px;
        max-height: 250px;
    }

    .circle-max-width {
        max-width: 90px;
    }
    
}

@media screen and (max-height: 768px) and (min-width: 768px) {

    .circle-max-width {
        width: 70px;
    }
    .width-time {
        width: 20%;
    }
    .max-height-col {
        max-height: 80px;

    }
    .table-gray-left {
        height: 210px;
        max-height: 210px;
    }
    .table-right {
        height: 210px;
        max-height: 210px;
    }

    .circle-max-width {
        max-width: 90px;
    }
    .max-height-observation {
        max-height: 60px;
    }
}