@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IInformesInterface InformesService
@inject NavigationManager navigationManager

<div id='modal' class='modal' style='display: @(ActivarModal ? "block" : "none")'>
    <div class="modal-content bg-light">
        @if (!string.IsNullOrEmpty(mensajeError))
        {
            <MensajeParaModales Message="@mensajeError"></MensajeParaModales>
        }
        <div class=" modal-body d-flex g-2 text-center bg-light ">
            <div class="container mt-5 border-transparent">
                <i class="fa-solid fa-triangle-exclamation fa-2xl text-warning"></i>
                <h2 class="text-danger">¿Está seguro de eliminar el informe actual?</h2>
            </div>
        </div>
        <div class="modal-footer">
            <div @onclick="() => CloseModal()" class="button-footer rounded-pill border border-primary bg-primary text-light mouse-pointer" id="cancelar-informe">
                Cancelar
            </div>
            <button @onclick="EliminarInforme" class="button-footer rounded-pill border border-success bg-danger text-light" id="Eliminar-informe">Eliminar</button>
        </div>
    </div>
</div>

@code {

}
