@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IActividadesInterface ActividadesService

<div >
    
    @if (mensajeAgregado != null)
    {
        <MensajeAgregado Message="@mensajeAgregado" />
    }
    <div class="row text-start d-flex justify-content-center max-height-projects overflow-y-auto overflow-x-hidden scrollbar-modal-projects">
    <EditForm Model="activadNueva" OnValidSubmit="AgregarActividad">
            <DataAnnotationsValidator />
    
    <div class="row  border border-success rounded-5 my-3">
        <div class="d-flex justify-content-center mb-2 mt-2">
            <label class="col-md-4  blue-dark-text label-text" for="c-actividad">Nombre Actividad:</label>
            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-actividad" @bind-value="activadNueva.Actividad" @oninput="CambioActividad" />
        </div>
            <ValidationMessage For="@(() => activadNueva.Actividad)" />
        <div class="d-flex justify-content-center mb-2">
            <label class="col-md-4  blue-dark-text label-text" for="c-CiReferencia">CI-Referencia:</label>
            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-CiReferencia" @bind-value="activadNueva.CI_referencia" @oninput="CambioCIReferencia" />
        </div>
            <ValidationMessage For="@(() => activadNueva.CI_referencia)" />
        <div class="d-flex justify-content-center mb-2">
            <label class="col-md-4  blue-dark-text label-text" for="c-horas">Horas:</label>
            <input class="col-md-4 border border-success rounded-pill px-2 text-input " type="text" id="c-horas" @bind-value="activadNueva.horas" @oninput="CambioHoras" />
        </div>
            <ValidationMessage For="@(() => activadNueva.horas)" />

    </div>
    <div class="w-100 d-flex justify-content-center">
        <button type="submit" class="button-footer rounded-pill border border-success green-bg text-light mx-4" id="agregar-actividad">Agregar Actividad</button>
      
    </div>
    </EditForm>
    </div>
</div>