@inject IInformesInterface InformesService
@inject IClientesInterface ClientesService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@if(cargaInicial){
@if(!string.IsNullOrEmpty(mensajeCliente)){
   <ModalError mensaje="@mensajeCliente"></ModalError>
 }
}
else
{
    <div class="loader">
        <p class="heading">Loading</p>
        <div class="loading">
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
            <div class="load"></div>
        </div>
    </div>
}
