
.observation {
    margin-left: 1%;
    width: 96%;
}

.max-height-observation {
    max-height: 80px;
}

.break-line {
    word-wrap: break-word;
}

.border-green {
    border: 1px solid #2FAD70;
}

.border-inicio-izquierda {
    border-top-left-radius: 20px;
}

.border-inicio-derecha {
    border-top-right-radius: 20px;
}

.border-final-izquierda {
    border-bottom-left-radius: 20px;
}

.border-final-derecha {
    border-bottom-right-radius: 20px;
}
.borde-gris-arriba {
    border-top: 1px solid #A9A9A9;
}

.borde-gris-derecha {
    border-right: 1px solid #A9A9A9;
}

.blue-light-bg {
    background-color: #2255A1;
}

.blue-dark-bg {
    background-color: #1C3259;
}

.blue-light-text {
    color: #2255A1;
}

.blue-dark-text {
    color: #1C3259;
}

.green-text {
    color: #2FAD70;
}

.mouse-pointer {
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-agregar-usuario {
    background-color: #2FAD70;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

    /* Estilos para crear el diseño del checkbox personalizado */
    .custom-checkbox + label {
        position: relative;
        padding-left: 25px; /* Espacio para el check personalizado */
        cursor: pointer;
    }

        .custom-checkbox + label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 2px solid #2255A1; /* Color del borde del checkbox */
            background-color: transparent /* Color de fondo del checkbox */
        }

    /* Estilos para el check personalizado cuando está seleccionado */
    .custom-checkbox:checked + label:before {
        content: "\2713";
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: medium;
        color: #2FAD70; /* Cambiar el color del fondo cuando está seleccionado */
        border: 2px solid #2255A1; /* Cambiar el color del borde cuando está seleccionado */
    }

.content-behind {
    border-top-right-radius: 30px;
}

.content-behind-bottom {
    border-bottom-right-radius: 50px;
}

.max-height-col {
    max-height: 200px;
}

.scrollbar-report::-webkit-scrollbar {
    width: 12px;
}

.scrollbar-report::-webkit-scrollbar-track {
    background-color: #2255A1;
    border: 5px solid white;
}

/* Color y forma del botón de desplazamiento */
.scrollbar-report::-webkit-scrollbar-thumb {
    background-color: #2255A1;
    border-radius: 20px;
    border: 3px solid white;
}

.label-transparent {
    color: transparent;
}

.width-input {
    width: 15%;
}

.table-gray-left {
    height: 384px;
    max-height: 384px;
    margin-left: 1%;
    background-color: #D5D5D5;
    margin-bottom: 3%;
}

.font-14-book {
    font-size: 10pt;
}

.font-20-book {
    font-size: 12pt;
}

.font-19-bold {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 10pt;
}

.font-23-medium {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 12pt;
}




.table-right {
    height: 384px;
    max-height: 384px;
}

.circle-max-width {
    max-width: 90px;
}

.font-11-medium {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 11pt;
}

@media screen and (max-width: 768px) {


    .circle-max-width {
        width: 70px;
    }

    .width-time {
        width: 20%;
    }

    .max-height-col {
        max-height: 80px;
    }

    .table-gray-left {
        height: 250px;
        max-height: 250px;
    }

    .table-right {
        height: 250px;
        max-height: 250px;
    }

    .circle-max-width {
        max-width: 90px;
    }

    .font-11-medium {
        font-size: 6pt;
    }

    .font-14-book {
        font-size: 7pt;
    }

    .font-20-book {
        font-size: 10pt;
    }

    .font-19-bold {
        font-size: 10pt;
    }

    .font-23-medium {
        font-size: 11pt;
    }
}

@media screen and (max-height: 768px) and (min-width: 768px) {

    .circle-max-width {
        width: 70px;
    }

    .width-time {
        width: 20%;
    }

    .max-height-col {
        max-height: 80px;
    }

    .table-gray-left {
        height: 210px;
        max-height: 210px;
    }

    .table-right {
        height: 210px;
        max-height: 210px;
    }

    .circle-max-width {
        max-width: 90px;
    }

    .font-11-medium {
        font-size: 9pt;
    }

    .font-14-book {
        font-size: 10pt;
    }

    .font-20-book {
        font-size: 12pt;
    }

    .font-19-bold {
        font-size: 10pt;
    }

    .font-23-medium {
        font-size: 12pt;
    }

    .max-height-observation {
        max-height: 60px;
    }
}
