@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject IDepartamentosInterface DepartamentosService
@inject IJSRuntime JSRuntime
@inject SweetAlertService Swal;
@inject IAlertasInterface AlertasService

@if (cargaInicial)
{
    @if (permisos.Any(p => p.permiso == "Departamentos" && p.subpermisos.Contains("Ver Lista")))
    {

        <div class="el-layout">
            <Layout Texto="RecibirTexto"></Layout>
        </div>

        <div class="width-departamentos">
            <EditForm Model="@departamentos" OnValidSubmit="SwalActualizandoDepartamentos" OnInvalidSubmit="InvalidSubmit">
                <ObjectGraphDataAnnotationsValidator />

                
                <div class=" d-flex row g-2 text-center ">
                    <div class="container mt-1 border-transparent">

                        <div class="card-header row blue-dark-text text-16-medium" id="headings-proyects">
                            <div class="col-md-6">
                                <label class=" text-center w-75 ">Código de Departamento</label>
                            </div>
                            <div class="col-md-6">
                                <label class="pe-2 text-center w-100">Nombre</label>
                            </div>
                        </div>
                        <div class="max-height-departamentos overflow-y-auto overflow-x-hidden scrollbar-modal-departamentos">
                            @if (departamentos != null)
                            {
                                var listaDepartamentos = departamentos.OrderBy(a => a.codigo).ToList();
                                if (!string.IsNullOrEmpty(textoRecibido))
                                {
                                    // Filtrar la lista de clientes por el nombre que contenga el texto de búsqueda
                                    listaDepartamentos = listaDepartamentos.Where(departamento =>
                                    departamento.Departamento.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0 ||
                                    departamento.codigo.IndexOf(textoRecibido, StringComparison.OrdinalIgnoreCase) >= 0
                                    ).ToList();
                                }
                                @foreach (var departamento in listaDepartamentos)
                                {
                                    <div class="card-header row text-secondary mb-3 mt-3 text-16-book">
                                        <div class="col-md-6">
                                            <input class="w-75 text-center text-secondary border-success rounded-pill" type="text" @bind-value="@departamento.codigo" readonly>
                                        </div>
                                        <div class="row col-md-6 d-flex align-items-center">
                                            <div class="col-md-11">
                                                <input class="w-100 text-center blue-dark-text border-primary rounded-pill" type="text" @bind-value="@departamento.Departamento" @oninput="(e) => CambioDepartamentoNombre(e, departamento.Id)">
                                                <ValidationMessage For="@(() => departamento.Departamento)" />
                                            </div>
                                            <div class="mouse-pointer col-md-1" @onclick='() => SwalEliminarDepartamento("¿Está seguro de eliminar el departamento #" + departamento.codigo + "?", departamento.codigo)'>
                                                <i class="mx-2 fa-solid fa-x text-danger"></i>
                                            </div>
                                        </div>

                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="footer-departamento text-13-medium">
                    <button type="button" @onclick="() => IrAAgregarDepartamento()" class="rounded-pill border border-success green-dark-bg text-light button-footer mx-5" id="agregar-departamento">
                        Agregar
                        Departamento
                    </button>
                    <button type="submit" class="rounded-pill border border-input-gray bg-light button-footer green-text mx-5" id="guardar-departamentos">
                        Guardar
                        cambios
                    </button>
                    <button type="button" @onclick="DescartarCambios" class="rounded-pill border border-primary blue-dark-bg text-light button-footer mx-5" id="descartar-departamentos">
                        Cancelar
                    </button>
                </div>
            </EditForm>
        </div>


    }
    else


    {
        <ModalError mensaje="No tienes los permisos suficientes para entrar a esta página"></ModalError>
    }
    <ScriptMaxHeight Contenido=".max-height-departamentos" Elemento1=".el-layout" Elemento2=".footer-departamento" Elemento3=".card-header"></ScriptMaxHeight>
}
else
{
    <Loading></Loading>
}
