@if (showAlert)
{


    <div class="alert alert-danger w-100" role="alert">
        @Message
    </div>

}

@code {
    [Parameter]
    public string Message { get; set; }

    private bool showAlert = false;

    protected override void OnParametersSet()
    {
        showAlert = true;

        // Ocultar el mensaje después de 2 segundos (puedes ajustar el tiempo según tus necesidades)
        Task.Delay(2000).ContinueWith(_ =>
        {
            showAlert = false;
            StateHasChanged();
        });
    }
}