@page "/Configuraciones"
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILicenciasInterface LicenciasService
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        @if (cargaInicial)
        {
            @if (rol == "Admin")
            {
                <Layout></Layout>
                @if(licencia != null)
                {
                    <div class="d-flex m-3 p-3 row blue-light-text border border-success rounded-pill">
                        <h4>Información de Licencia</h4>
                        <div class="col-md-4">
                            <label for="licencia-codigo">Código: <span id="licencia-codigo" class="text-black">@licencia.codigo</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="licencia-fechaInicio">Fecha Inicio: <span id="licencia-fechaInicio" class="text-black">@licencia.fecha_inicio</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="licencia-fechaVencimiento">Fecha Vencimiento: <span id="licencia-fechaVencimiento" class="text-black">@licencia.fecha_vencimiento</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="licencia-estado">Estado: <span id="licencia-estado" class="text-black">@licencia.estado</span></label>
                        </div>
                    </div>
                }
                <div class="d-flex mx-3 row blue-light-text mt-3">
                    <div class="col-md-4 border border-success rounded-pill d-flex justify-content-center align-items-center users-div">
                        <button type="button" class="button-usuarios text-light border-success rounded-pill" @onclick="IrAMisUsuarios">Usuarios</button>
                    </div>
                </div>
                
            }
            else
            {
                <ModalError mensaje="No tienes los permisos suficientes para entrar a esta página"></ModalError>
            }

        }
        else
        {
            <div class="loader">
                <p class="heading">Loading</p>
                <div class="loading">
                    <div class="load"></div>
                    <div class="load"></div>
                    <div class="load"></div>
                    <div class="load"></div>
                </div>
            </div>
        }

    </Authorized>
</AuthorizeView>

