@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<button class="btn btn-outline-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    <i class="fa-solid fa-bars"></i>
</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title title-sidebar" id="staticBackdropLabel">Configuraciones</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            @if (permisos.Any(p => p.permiso == "Actividades"))
            {
                <button class="btn btn-outline-secondary mb-2" type="button" @onclick="IrAActividades">
                    Actividades
                </button>
            }
            @if (permisos.Any(p => p.permiso == "Departamentos"))
            {
                <button class="btn btn-outline-secondary mb-2" type="button" @onclick="IrADepartamentos">
                    Departamentos
                </button>
            }
            @if(permisos.Any(p => p.permiso == "Usuarios")){
                <button class="btn btn-outline-secondary mb-2" type="button" @onclick="IrAUsuarios">
                    Usuarios
                </button>
            }
           
            <button class="btn btn-outline-secondary" type="button" @onclick="IrAlInicio">
                Volver Al Inicio
            </button>
        </div>
    </div>
</div>


