﻿@if (showMessage)
{
     <div class="text-danger w-100">
            @Message
     </div>
}

@code {
    [Parameter]
    public string Message { get; set; }

    private bool showMessage = false;

    protected override void OnParametersSet()
    {
        showMessage = true;
    }
}