::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%232FAD70" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
.max-height-project input,
.max-height-project select {
    max-width: 50%;
}

.width-col-special {
    width: 200px;
}
.col-md-4 {
    max-width: 32%;
}

.footer-agregar-proyecto {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    height: 90px;
    width: 100%;
    background-color: #2FAD70;
    align-items: center;
}

    .footer-agregar-proyecto .button-footer {
        padding: 10px 20px;
        height: 40px;
        display: flex;
        align-items: center;
    }

.width-content {
    max-width: 99%;
}

.scrollbar-modal-projects::-webkit-scrollbar {
    width: 12px;
}

/* Color del área de seguimiento */
.scrollbar-modal-projects::-webkit-scrollbar-track {
    background-color: #198754;
    border: 5px solid white;
}

/* Color y forma del botón de desplazamiento */
.scrollbar-modal-projects::-webkit-scrollbar-thumb {
    background-color: #198754;
    border-radius: 20px;
    border: 3px solid white;
}


.text-41-book {
    font-size: 15pt;
}

.text-16-book {
    font-size: 16pt;
}

.text-16-medium {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 16pt;
}

.text-13-medium {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 13pt;
}


.border-input-gray {
    border-color: #D5D5D5;
}

.max-height-project {
    max-height: 700px;
}

@media screen and (max-width: 768px) {
    .footer-agregar-proyecto {
        height: 70px;
        width: 100%;
    }

    .text-41-book {
        font-size: 20pt;
    }

    .text-16-book {
        font-size: 8pt;
    }

    .text-16-medium {
        font-size: 8pt;
    }

    .text-13-medium {
        font-size: 6pt;
    }
}

@media screen and (max-height: 768px) and (min-width: 768px) {
    .footer-agregar-proyecto {
        height: 60px;
        max-width: 100%;
    }

    .text-41-book {
        font-size: 15pt;
    }

    .text-16-book {
        font-size: 10pt;
    }

    .text-16-medium {
        font-size: 10pt;
    }

    .text-13-medium {
        font-size: 10pt;
    }

    .border-input-gray {
        border-color: #D5D5D5;
    }

    .max-height-project {
        max-height: 300px;
    }

    .footer-agregar-proyecto .button-footer {
        padding: 10px 10px;
        height: 40px;
    }
}
