@using BSP.POS.Presentacion.Pages.Informes.EditarInforme
@inject IInformesInterface InformesService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="d-flex align-items-center justify-content-center ps-5 footer-right">
    @if (!string.IsNullOrEmpty(Consecutivo) && !string.IsNullOrEmpty(Estado))
    {
        <div class="ms-auto justify-content-center footer-right-cod">
            <span class="footer-right-cod">Informe Servicio</span>
            <span class=""># @Consecutivo</span>
        </div>
        if(Estado == "Borrador"){
        <div class="d-flex ms-auto justify-content-center circle-font">
            <div class="d-flex row text-center mouse-pointer justify-content-center" @onclick="IrAEditar">
                <img src="images/Home/Editar.png" class="mb-2 circle-click-max-width"/>
                <a >Editar</a>
            </div>
            <div class="d-flex row text-center mouse-pointer justify-content-center" @onclick="() => ClickHandlerFinalizarInforme(true)">
                 <img src="images/Home/Finalizar.png" class="mb-2 circle-click-max-width"/>
                <a href="">Finalizar</a>
            </div>
            </div>
        }
        else
        {
            <div class="d-flex ms-auto justify-content-center circle-font">
                <div class="d-flex row text-center mouse-pointer justify-content-center" @onclick="VerInforme">
                    <img src="images/Home/Editar.png" class="mb-2 circle-click-max-width" />
                    <a>Ver</a>
                </div>
            </div>
        }
    }
</div>
<ModalFinalizarInforme ActivarModal="@activarModalFinalizarInforme" OnClose="ClickHandlerFinalizarInforme" esquema="@esquema" consecutivo="@Consecutivo"></ModalFinalizarInforme>

