@inject IInformesInterface InformesService
@inject NavigationManager navigationManager
<div class="d-flex align-items-center ps-5 footer-right">
    @if (Consecutivo != string.Empty)
    {
        <div class="ms-auto justify-content-center ">
            <h4>Informe Servicio</h4>
            <h4># @Consecutivo</h4>
        </div>
        if(Estado == "Borrador"){
        <div class="ms-auto d-flex">
            <div class="d-flex row text-center mouse-pointer " @onclick="IrAEditar">
                <i class="fa-solid fa-pen-to-square mb-2"></i>
                <a >Editar</a>
            </div>
            <div class="d-flex row text-center">
                <i class="fa-solid fa-check-to-slot mb-2"></i>
                <a href="">Finalizar</a>
            </div>
        </div>
        }
    }
</div>
@code {
    [Parameter]
    public string consecutivo { get; set; } = string.Empty;
    [Parameter]
    public string estado { get; set; } = string.Empty;

    public string Consecutivo { get; set; } = string.Empty;
    public string Estado { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {


        if (!string.IsNullOrEmpty(consecutivo) && !string.IsNullOrEmpty(estado))
        {
            Consecutivo = consecutivo;
            Estado = estado;
        }
    }

    private void IrAEditar()
    {

        navigationManager.NavigateTo($"Editar/{Consecutivo}");
    }
}
