﻿html, body {
    height: 100%;
}

.search-input {
    border: none;
    margin: 0;
    height: 35px;
    background-color: #1C3259;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .search-input::placeholder {
        color: white;
    }

.search-icon {
    border: none;
    height: 35px;
    background-color: #1C3259;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vertical-line {
    border-left: 1px solid;
    height: 18px;
}

a {
    text-decoration: none; /* Quita la línea subrayada */
    color: inherit; /* Hereda el color del texto */
}

.sections {
    margin-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.eyelash {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}

.eyelash-selected {
    font-size: 14pt;
    background-color: #2255A1;
    text-decoration: underline;
}

.eyelash-unselected {
    font-size: 14pt;
    background-color: #1C3259;
}

.click-client {
    transition: background-color 0.3s;
    cursor: pointer;
}

    .click-client:hover {
        background-color: #D5D5D5;
    }

.img-client {
    border-radius: 30px;
}
/* Ancho de la barra de desplazamiento */
.scrollbar-client::-webkit-scrollbar {
    width: 12px;
}

/* Color del área de seguimiento */
.scrollbar-client::-webkit-scrollbar-track {
    background-color: white;
    border: 5px solid #2FAD70;
}

/* Color y forma del botón de desplazamiento */
.scrollbar-client::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid #2FAD70;
}

.scrollbar-report::-webkit-scrollbar {
    width: 12px;
}

/* Color del área de seguimiento */
.scrollbar-report::-webkit-scrollbar-track {
    background-color: #2255A1;
    border: 5px solid white;
}

/* Color y forma del botón de desplazamiento */
.scrollbar-report::-webkit-scrollbar-thumb {
    background-color: #2255A1;
    border-radius: 20px;
    border: 3px solid white;
}

.scrollbar-max-height {
    min-height: 400px;
    max-height: 400px;
}


.d-all {
    display: none;
}

.info-client {
    background-image: url("../images/Home/Recuadro-de-información.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 10pt;
}

.update-report-text {
    font-size: 12px;
}


.fa-circle-plus {
    font-size: 50px;
}

.div-circle {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.col-right {
    width: 641px;
}

.footer-right {
    background-color: #2255A1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    padding: 3%;
    width: 641px;
    height: 111px;
}

.circle-click-max-width {
    max-width: 90px;
}

.reports-list {
    min-height: 100px;
    max-height: 200px;
}

.font-size-15 {
    font-size: 15pt;
}


.mouse-pointer {
    transition: background-color 0.3s;
    cursor: pointer;
}

.client-item {
    color: #2255A1;
    font-size: 11pt;
}

.add-report {
    background-image: url("../images/Home/Recuadro-azul.png");
    background-repeat: no-repeat;
    width: 194px;
    height: 121px;
    background-size: 100% 100%;
}

    .add-report:hover {
        border: 4px white;
        border-bottom: 0;
        border-radius: 30px;
        border-style: ridge;
    }

.item-report-width {
    margin-right: 2%;
    max-width: 192px;
    height: 121px;
}

.image-add {
    width: 40%;
    height: 40%;
}

.t-blue-dark {
    color: #1C3259;
}

.bg-status-yellow {
    background-color: #D0CD05;
}

.bg-status-green {
    background-color: #2FAD70;
}

.t-gray {
    color: #D5D5D5;
}

.footer-right-cod {
    font-size: 24pt;
}

.circle-font {
    font-size: 11pt;
}

@media screen and (max-width: 768px) {
    .eyelash-selected {
        font-size: 7pt;
    }

    .eyelash-unselected {
        font-size: 7pt;
    }

    .scrollbar-max-height {
        min-height: 130px;
        max-height: 130px;
    }

    .info-client {
        font-size: 5pt;
    }


    .update-report-text {
        font-size: 6px;
    }

    .borrador {
        font-size: 6pt;
        max-width: 194px;
        max-height: 121px;
    }


    .click-report-up {
        width: 194px;
        max-width: 194px;
        max-height: 121px;
    }


    .col-right {
        max-width: 300px;
    }

    .footer-right {
        max-width: 300px;
        height: 111px;
    }

    .font-size-15 {
        font-size: 8pt;
    }

    .client-item {
        font-size: 6pt;
    }

    .footer-right-cod {
        font-size: 12pt;
    }

    .circle-click-max-width {
        max-width: 45px;
    }

    .circle-font {
        font-size: 6pt;
    }
}

@media screen and (max-height: 768px) and (min-width: 768px) {

    .eyelash-selected {
        font-size: 11pt;
    }

    .eyelash-unselected {
        font-size: 11pt;
    }

    .scrollbar-max-height {
        min-height: 130px;
        max-height: 130px;
    }


    .info-client {
        font-size: 8pt;
    }


    .update-report-text {
        font-size: 9px;
    }

    .borrador {
        font-size: 9pt;
        width: 194px;
        max-width: 194px;
        max-height: 80px;
    }


    .click-report-up {
        transition: background-color 0.3s;
        cursor: pointer;
        width: 194px;
        max-width: 194px;
        max-height: 121px;
    }


    .col-right {
        width: 641px;
    }

    .footer-right {
        width: 641px;
        height: 90px;
    }

    .font-size-15 {
        font-size: 12pt;
    }

    .client-item {
        font-size: 9pt;
    }

    .footer-right-cod {
        font-size: 18pt;
    }

    .circle-click-max-width {
        max-width: 70px;
    }

    .circle-font {
        font-size: 9pt;
    }
}
