
@page "/"
@page "/login"
@inject IUsuariosInterface UsuariosService
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
        <div class="container container-full">
            <div class="row">
                <div class="col columna">
                    <div class="columna-left-imagen d-flex justify-content-center align-items-center">
                         <img src="images/Login/Logo-BSP.png" class="icon-bsp"/>
                    </div>
                    <footer class="d-flex justify-content-center p-3 w-100 text-light footer-left">Todos los derechos reservados, 2023</footer>
                </div>
                <div class="col columna columna-right-imagen">
                    <div class="text-center">
                         <EditForm Model="usuario" OnValidSubmit="Ingresar">
                    <DataAnnotationsValidator />
                        <img src="images/Login/Logo-Gestor.png" class="logo-gestor"/>
                       
                        <h3 class="text-light information">Ingrese su información</h3>
                        <div class="form-group d-flex align-items-center">
                            <img src="images/Login/Icono-correo.png" class="p-2"/>
                        <input placeholder="Correo..." type="text" class="form-control" @bind-value="usuario.correo" @oninput="ValorCorreo" />
                        </div>
                     <ValidationMessage For="@(() => usuario.correo)" />
                        <div class="form-group d-flex align-items-center">
                            <img src="images/Login/Icono-candado.png" class="p-2"/>
                        <input placeholder="Contraseña..." type="password" class="form-control" @bind-value="usuario.clave" @oninput="ValorClave" />
                        </div>
                    <ValidationMessage For="@(() => usuario.clave)" />
                        <div class="form-group d-flex align-items-center">
                           <img src="images/Login/Icono-casita.png" class="p-2"/>
                        <select class="form-control" @oninput="ValorEsquema" @bind="usuario.esquema">
                                <option value="" class="form-control">Seleccionar Esquema</option>
                            <option value="BSP" class="form-control">BSP</option>
                            </select>
                        </div>
                    <ValidationMessage For="@(() => usuario.esquema)" />
                        @if(!string.IsNullOrEmpty(mensaje)){
                        <div class="text-danger">
                            <span>@mensaje</span>
                        </div>
                         }
                        <button type="submit" class="btn btn-success btn-block">Ingresar</button>
                        <p class="mt-5 text-light forgot-pass">¿Olvidó su contraseña?</p>
                        <a class="mouse-pointer rest-pass" @onclick="CorreoRecuperacion">Resetear contraseña</a>
                     </EditForm>
                    </div>
                </div>
            </div>
        </div>

