@page "/login"
<head>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
</head>
        <div class="container container-full">
            <div class="row">
                <div class="col-md-7 columna">
                    <div class="columna-left-imagen"></div>
                    <footer class="d-flex justify-content-center p-3 bg-success w-100 text-light">Todos los derechos reservados, 2023</footer>
                </div>
                <div class="col-md-5 columna columna-right-imagen">
                    <div class="text-center">
                        <div class="semicircle"></div>
                        <h1 class="text-light"> Gestor de servicio</h1>
                        <h3 class="text-light">Ingrese su información</h3>
                        <div class="form-group d-flex align-items-center ">
                            <i class="fa-solid fa-envelope text-success bg-light p-2"></i>

                        <input type="text" placeholder="Usuario..." class="form-control text-success" required/>
                        </div>
                        <div class="form-group d-flex align-items-center">
                            <i class="fa-solid fa-lock text-success bg-light p-2"></i>
                        <input type="password" placeholder="Contraseña..." class="form-control text-success" required />
                        </div>


                        <button class="btn btn-success btn-block">Ingresar</button>
                        <p class="mt-5 text-light">¿Olvidó su contraseña?</p>
                        <a class="text-success">Resetear contraseña</a>
                    </div>
                </div>
            </div>
        </div>
@code {

}
