.blue-good-bg {
    background-color: #053d9e;
}

.blue-good {
    color: #053d9e;
}

.fondo {
    min-height: 100vh;
    background-image: url('images/Login/Fondo-Login.png');
    background-size: cover;
    background-position: center;
}
