
.footer-client {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    height: 90px;
    width: 100%;
    background-color: #2FAD70;
    align-items: center;
}

.label-padding-right {
    padding-right: 30%;
}
.footer-client .button-footer {
    padding: 10px 20px;
    height: 40px;
    display: flex;
    align-items: center;
}
.width-content{
    max-width: 99%;
}

.scrollbar-modal-clients::-webkit-scrollbar {
    width: 12px;
}

/* Color del área de seguimiento */
.scrollbar-modal-clients::-webkit-scrollbar-track {
    background-color: #2FAD70;
    border: 5px solid white;
}

/* Color y forma del botón de desplazamiento */
.scrollbar-modal-clients::-webkit-scrollbar-thumb {
    background-color: #2FAD70;
    border-radius: 20px;
    border: 3px solid white;
}
.max-height-clients {
    max-height: 620px;
    min-height: 620px;
}

.text-41-book {
    font-size: 41pt;
}

.text-16-book {
    font-size: 12pt;
}

.text-16-medium {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 11pt;
}
.text-15-book {
    font-size: 10pt;
}

.text-13-medium {
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 11pt;
}
.text-9-bold {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 9pt;
}
.border-input-gray {
    border-color: #D5D5D5;
}
@media screen and (max-width: 768px) {
    .footer-client {
        height: 70px;
        width: 100%;
    }

    .max-height-clients {
        max-height: 150px;
        width: auto;
        max-width: 760px;
    }

    .max-height-clients {
        max-height: 450px;
    }

    .text-41-book {
        font-size: 20pt;
    }
    .text-15-book {
        font-size: 8pt;
    }
    .text-16-book {
        font-size: 8pt;
    }

    .text-16-medium {
        font-size: 8pt;
    }

    .text-13-medium {
        font-size: 7pt;
    }
    .text-9-bold {
        font-size: 5pt;
    }
}

@media screen and (max-height: 768px) and (min-width: 768px) {
    .footer-client {
        height: 60px;
        width: 100%;
    }

    .max-height-clients {
        max-height: 295px;
        min-height: 295px;
        max-width: 99%;
    }

    .text-41-book {
        font-size: 20pt;
    }

    .text-16-book {
        font-size: 10pt;
    }
    .text-15-book {
        font-size: 10pt;
    }
    .text-16-medium {
        font-size: 10pt;
    }

    .text-13-medium {
        font-size: 10pt;
    }
    .text-9-bold {
        font-size: 7pt;
    }

    .footer-client .button-footer {
        padding: 10px 10px;
        height: 40px;
    }
}
